apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt-broker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mqtt-broker
  template:
    metadata:
      labels:
        app: mqtt-broker
    spec:
      {{- if .Values.podSecurityContext.enabled }}
      securityContext:
        {{- with .Values.podSecurityContext.fsGroup }}
        fsGroup: {{ . }}
        {{- end }}
        {{- with .Values.podSecurityContext.runAsUser }}
        runAsUser: {{ . }}
        {{- end }}
        {{- with .Values.podSecurityContext.runAsGroup }}
        runAsGroup: {{ . }}
        {{- end }}
        {{- with .Values.podSecurityContext.runAsNonRoot }}
        runAsNonRoot: {{ . }}
        {{- end }}
      {{- end }}

      {{- $runUser := default 1883 (get (default dict .Values.containerSecurityContext) "runAsUser") }}
      {{- $runGroup := default 1883 (get (default dict .Values.containerSecurityContext) "runAsGroup") }}

      initContainers:
        - name: prepare-auth-volume
          image: busybox:1.36
          securityContext:
            allowPrivilegeEscalation: {{ .Values.initContainerSecurityContext.allowPrivilegeEscalation }}
            readOnlyRootFilesystem: {{ .Values.initContainerSecurityContext.readOnlyRootFilesystem }}
            runAsNonRoot: {{ .Values.initContainerSecurityContext.runAsNonRoot }}
            runAsUser: {{ .Values.initContainerSecurityContext.runAsUser }}
            runAsGroup: {{ .Values.initContainerSecurityContext.runAsGroup }}
          command:
            - sh
            - -c
            - >-
              umask 007 && mkdir -p {{ .Values.auth.mountPath }}
          volumeMounts:
            - name: auth
              mountPath: {{ .Values.auth.mountPath }}

      containers:
        - name: mqtt-broker
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 1883
            - containerPort: 9001
          env:
            - name: MQTT_USER
              value: "{{ .Values.global.env.FRIGATE_MQTT_USER }}"
            - name: MQTT_PASSWORD
              value: "{{ .Values.global.env.FRIGATE_MQTT_PASSWORD }}"
          volumeMounts:
            - name: config
              mountPath: /mosquitto/config/mosquitto.conf
              subPath: mosquitto.conf
            - name: data
              mountPath: /mosquitto/data
            - name: auth
              mountPath: {{ .Values.auth.mountPath }}
          {{- if .Values.containerSecurityContext }}
          securityContext:
            {{- if hasKey .Values.containerSecurityContext "allowPrivilegeEscalation" }}
            allowPrivilegeEscalation: {{ .Values.containerSecurityContext.allowPrivilegeEscalation }}
            {{- end }}
            {{- if hasKey .Values.containerSecurityContext "readOnlyRootFilesystem" }}
            readOnlyRootFilesystem: {{ .Values.containerSecurityContext.readOnlyRootFilesystem }}
            {{- end }}
            {{- if hasKey .Values.containerSecurityContext "runAsNonRoot" }}
            runAsNonRoot: {{ .Values.containerSecurityContext.runAsNonRoot }}
            {{- end }}
            {{- if hasKey .Values.containerSecurityContext "runAsUser" }}
            runAsUser: {{ .Values.containerSecurityContext.runAsUser }}
            {{- end }}
            {{- if hasKey .Values.containerSecurityContext "runAsGroup" }}
            runAsGroup: {{ .Values.containerSecurityContext.runAsGroup }}
            {{- end }}
          {{- end }}
          command:
            - sh
            - -c
            - |
              touch {{ .Values.auth.passwordFilePath }} && \
              mosquitto_passwd -c -b {{ .Values.auth.passwordFilePath }} $${MQTT_USER} $${MQTT_PASSWORD} && \
              chmod 0700 {{ .Values.auth.passwordFilePath }} && \
              chown {{ $runUser }}:{{ $runGroup }} {{ .Values.auth.passwordFilePath }} && \
              mosquitto -c /mosquitto/config/mosquitto.conf

      volumes:
        - name: config
          configMap:
            name: mqtt-config
        - name: data
          emptyDir: {}
        - name: auth
          emptyDir: {}
